{{template "base" .}}

{{define "content"}}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 mx-auto d-block">
          <img src="static/images/generals-quarters.png" alt="generals" class="img-fluid img-thumbnail"/>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-12"> 
          <h1 class="text-center mt-4">Welcome to General's Quarters</h1>
          <p>
            Your home away from home, set on the majestic waters of the Atlantic Ocean. 
            Your home away from home, set on the majestic waters of the Atlantic Ocean.
            Your home away from home, set on the majestic waters of the Atlantic Ocean.
            Your home away from home, set on the majestic waters of the Atlantic Ocean.
            Your home away from home, set on the majestic waters of the Atlantic Ocean.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <a href="/make-reservation-gq" class="btn btn-success">Check Availability</a>
        </div>
      </div>
      
    </div>

{{end}}

