{{template "base" .}}

{{define "content"}}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 mx-auto d-block">
          <img src="static/images/majors-suite.png" alt="majors suite" class="img-fluid img-thumbnail"/>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-12"> 
          <h1 class="text-center mt-4">Welcome to Major's Suite</h1>
          <p>
            Your home away from home, set on the majestic waters of the Atlantic Ocean. 
            Your home away from home, set on the majestic waters of the Atlantic Ocean.
            Your home away from home, set on the majestic waters of the Atlantic Ocean.
            Your home away from home, set on the majestic waters of the Atlantic Ocean.
            Your home away from home, set on the majestic waters of the Atlantic Ocean.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <a href="/make-reservation-ms" class="btn btn-success">Check Availability</a>
        </div>
      </div>
      
    </div>

{{end}}